@import "../../../styles.scss";

#ride-lobby {
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 9vh;
}

#ride-lobby .nav_goback {
    width: 100vw;
    height: 5vh;
    padding-top: 2vh;
    margin-bottom: 3vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
        cursor: pointer;
        transform: translate(-50%, -50%);
        padding-top: 2vh;
        position: absolute;
        top: 50%;
        left: 4vw;
    }

    > span {
        font-size: 1.3rem;
        font-weight: 700;
    }
}

.driver_information {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vh 0vw;
    margin-bottom: 2vh;

    &__avatar_border {
        width: 80px;
        height: 80px;
        background-color: $primary-color;
        border-radius: 50%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width: 93%;
            height: 93%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__driver_name {
        color: $title-color;
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 0.6vh;
    }

    .driver_information__socials {
        margin: 1vh 0vw;

        img {
            width: 25px;
            margin: 0vh 2vw;
        }
    }
}

.ride_data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2vh;

    &__locations {
        > span {
            font-size: 0.8rem;
        }
        > img {
            margin: 0vh 4vw;
        }
    }

    &__schedule {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;

        img {
            margin-right: 2vw;
        }

        > span {
            font-size: 0.9rem;
        }
    }
}

#ride_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ride_details_container {
    width: 90%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: bold;
        color: $title-color;
    }

    &__text {
        margin-top: 2%;
        font-size: 0.8rem;
        color: $text-color;
    }

    &__horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3%;
        cursor: pointer;

        &__name {
            color: $title-color;
            font-weight: bold;
            font-size: 0.8rem;
        }
    }

    &__avatar {
        width: 15%;
        height: 15%;
        border-radius: 50%;
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            width: 93%;
            height: 93%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__identification {
        margin-left: 4%;
    }

    &__svg {
        width: 16px;
        height: 16px;
        margin-top: 2%;
        margin-right: 2%;
    }
}

button {
    margin-top: 5%;
    background-color: $primary-color;
    color: white;
    padding: 10px 35px;
    border: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;

    &:active {
        transform: translateY(-2px);
    }
}

.dropdown-toggler {
    color: white;
    cursor: pointer;
    right: 5vw;
    position: fixed;
}

.dropdown {
    position: fixed;
    display: inline-block;
    width: 10%;
    min-height: 3vh;
    height: 5vh;
    right: 0;
    margin-top: 0.5vh;

    &:hover .dropdown-content {
        display: block;
    }

    &:active .dropdown-content {
        display: block;
    }

    span:hover + .dropdown-content {
        display: block;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 3vh;
}

.dropdown-content span {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > img {
        width: 20px;
        margin-right: 3vw;
    }

    &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
}

.button_ride_chat {
    width: 50px;
    height: 50px;
    right: 5%;
    bottom: 2%;
    border-radius: 50%;
    background-color: $background-color;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    &:active {
        transform: translateY(2px);
    }
}



@media (min-width: 1199.98px) {
    #ride-lobby {
        width: 100%;
        overflow-x: hidden;
    }

    .nav_goback {
        margin-bottom: 4vh;
    }

    .driver_information {
        padding-bottom: 1vh;
        margin-bottom: 1vh;
    
        &__avatar_border {
            margin-bottom: 1vh;
        }

        &__driver_name {
            margin-top: 1vh;
            margin-bottom: .5vh;
        }

        .driver_information__socials {
            padding: 0;
            margin: 0;
        }

        .driver_information__socials img {
            margin: 1vh 1vw;
            width: 24px;
        }
    }

    .ride_data {
        margin-top: 1vh;
    }

    .ride_data .ride_data__locations > img{
        margin: 0vh 1vw;
    }

    .ride_data .ride_data__locations span{
        font-size: 1rem;
    }

    .ride_data__schedule img{
        margin-right: 1vw;
    }

    #ride_details  .ride_details_container {
        margin-top: 4vh;
        margin-bottom: 2vh;
    }

    .ride_details_container__title {
        font-size: 1.1rem;  
    }
    .ride_details_container__text {
        margin-top: 1vh;
    }


    .ride_details_container__avatar {
        width: 3%;
        margin-top: 0;
    }

    .ride_details_container__horizontal {
        margin-top: 2vh;
    }

    .ride_details_container__identification {
        margin-left: 1vw;
    }

    .ride_details_container__horizontal__name {
        font-size: 1rem;
    }

    .ride_details_container__title {
        margin-bottom: 1vh;
    }

    .ride_details_container__horizontal {
        min-height: 4vh;
        display: flex;
        align-items: center;    
    }
    
    .ride_details_container__svg {
        margin: 0 1vw 0 0;
    }

    .ride_details_container__text {
        margin: 0;
    }

    #ride_details button{
        margin-top: 2vh;
    }

    .button_ride_chat {
        right: 1vw;
    }
}
