@import "../../../styles.scss";

section#forget_password-component {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    img.logo {
        margin-top: 3vh;
        width: 170px;
    }
}
.apresentation {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        margin-bottom: 2vh;
        font-size: 1.3rem;
    }
    &__description {
        width: 85%;
        text-align: center;
        color: $text-color;
    }
}
.forget__password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 40vh;

    &__item {
        width: auto;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        > span {
            font-weight: bold;
        }

        > input[type="text"],
        > input[type="password"] {
            border: 2px solid #cdcdcd;
            border-radius: 8px;
            margin: 0.5vh 0vw 3vh 0vw;
            font-size: 1rem;
            padding: 10px 5px;
            width: 70vw;

            &:invalid {
                border: 1px solid $primary-color;
            }
        }
    }
}
.form__action__triggers {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > input[type="submit"] {
        width: 45vw;
        padding: 12px 0px;
        margin-top: 3%;
        margin-bottom: 5%;
        background-color: #457b9d;
        border-radius: 9px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        cursor: pointer;
        border: none;
        font-size: 1rem;

        &:active {
            transform: translateY(2px);
        }
    }
    span.trigger__reset__password {
        margin-top: 2vh;
        margin-bottom: 0.5vh;
        color: $secondary-color;
        font-size: 0.8rem;
        cursor: pointer;
        text-decoration: underline;
    }
}

@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {
    .forget__password{
        min-height: 50vh;
    }
    .forget__password__item {
        width: auto;
        min-height: 5vh;

        > span {
            font-weight: bold;
        }

        > input[type="text"],
        > input[type="password"] {
            padding: 8px 5px;
            width: 18vw;
        }
    }

    .form__action__triggers {
        > input[type="submit"] {
            width: 12vw;
            padding: 10px 0px;
        }
    }

    .apresentation {
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        &__title {
            margin-bottom: 2vh;
            font-size: 1.3rem;
        }
        &__description {
            width: 30%;
        }
    }
}