<section id="forget_password-component">
    <img class="logo" src="../../../../assets/logos/full_logo.svg" alt="Website logo">
   
    <div class="apresentation">
        <h2 class="apresentation__title">Forgot your password?</h2>
        <p class="apresentation__description">We are sorry that you lost your password.We are going to do our best to help you!</p>
    </div>

    <form class="forget__password" #registerForm="ngForm" (ngSubmit)="resetPassword(changeData)" #changeData="ngForm">
        <span class="forget__password__item">
            <span>Email</span>
            <input type="text" name="email" minlength="5" required ngModel>
        </span>
        <span class="forget__password__item">
            <span>Phone Number</span>
            <input type="text" name="n_telemovel" minlength="9" maxlength="15" required ngModel>
        </span>
        <span class="forget__password__item">
            <span>New Password</span>
            <input type="password" name="password" required ngModel>
        </span>
        <span class="forget__password__item">
            <span>Confirm new password</span>
            <input type="password" name="confirmpassword" required ngModel>
        </span>
        <div class="form__action__triggers">
            <input type="submit" value="Change Password">
        </div>
    </form>
</section>
