/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-font: 'Inter', sans-serif;
$primary-color: #457B9D;
$secondary-color: #1D3557;
$alert-color: #E63946;
$background-color: #E5E5E5;
$text-color: #747474;
$title-color: #444444;

@mixin buttons {
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
    border: none;
}

p, 
a, 
span,
button {
    font-family: $main-font;
    color: $text-color;
    cursor: pointer;
}

h1,h2,h3,h4 {
    font-family: $main-font;
    color: $title-color;
}
