<app-alert-modal [status]='alertStatus' *ngIf="componentToggler.alertModal"></app-alert-modal>

<section class="profile_settings_wrapper slide-in-top" #divToAnim>
    <form class="profile_settings_wrapper__modal" (ngSubmit)="changeField(changeData)" #changeData="ngForm">
        <img src="../../../assets/icons/close_small.svg" alt="" class="close_button" (click)="closeModal()">
        Edit Field
        <input *ngIf="fieldToChange !== 'descricao' && fieldToChange !== 'password'" type="text" name="field" placeholder="{{userInformation[fieldToChange]}}"  required ngModel/>
        <input *ngIf="fieldToChange === 'password'" type="password" name="field" placeholder="Password" required ngModel/>
        <textarea autosize class="description" *ngIf="fieldToChange === 'descricao'" name="field" maxlength="200" placeholder="{{userInformation[fieldToChange]}}" required ngModel></textarea>
        <input type="submit" class="create" value="Change">
    </form>
</section>
