@import '../../../styles.scss';

#loading {
    width: 100%;
    height: 8vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    z-index: 998;
    padding-right: 3vw;

    .loading_icon {
        width: 40px;
        -webkit-animation: spin 2s ease infinite;
        -moz-animation: spin 2s ease infinite;
        animation: spin 2s ease infinite;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
